/* RESET */
body{
    margin: 0;
}

.div1, .div2{
    height: 100vh;
}
.div1{
    background-color: peru;
}
.div2{
    background-color: aqua;
}
.square{
    width: 100px;
    height: 20vh;
    background-color: brown;
    visibility: hidden;
    opacity: 0;
}
.red{
    background-color: red;
}